{% extends "base.html" %}

{% block extra_css %}
    <style>
        .data-content {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            flex-wrap: wrap;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card custom-card">
        <div class="card-header">
            <div class="card-header-toolbar">
                <a 
                  class="btn btn-success" 
                  style="display: flex; justify-content: center; align-items: center;" 
                  href="{{ model.get_add_url }}"
                > 
                    <i class="small material-icons" style="margin-right: 10px;">add</i> Novo 
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="data-content">
            {% for produto in objects_data %}
                {% include 'default/widgets/card_produto.html' with produto=produto %}
            {% empty %}
                <p>
                    Nenhum produto adicionado
                </p>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}