{% extends "base.html" %}
{% load bootstrap4 %}

{% block extra_css %}
    <style>
        .detail-content {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        dl.attrs-container {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            flex-basis: 33%;
            padding: 0px 5px;
        }

        dl.attrs-container dt {
            font-weight: bold;
            font-family: monospace;
            letter-spacing: .05rem;
            font-size: 0.9rem;
            text-transform: uppercase;
            margin-top: 10px;
        }

        dl.attrs-container dd {
            background-color: #dfe1e28c;

            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-image: linear-gradient(
              to left,
              #5d90cf,
              #2926db        
            ) 1 stretch;

            width: 100%;
            height: 30px;
        }

        dl.textfield dd {
            height: auto;
        }
        
        dl.attrs-container dd p {
            margin: 0;
            display: block;
            width: 100%;
            line-height: 30px;
            padding-left: 10px;

            font-family: helvetica;
            font-size: 0.8rem;

        }

        .card-toolbar {
            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card custom-card">
        <div class="card-header">
            <div class="card-toolbar">
                <h4 class="title"> Detalhes Venda </h4>
                <div class="button">
                    {% if object.status == "em_andamento" %}
                        <button type="button" class="btn btn-success" id="finalizar">
                            Finalizar
                        </button>
                        <a href="{% url 'venda_adicionar_produtos' object.id %}" class="btn btn-primary"> Adicionar Produtos </a>
                    {% endif %}
                    <a href="{{ object.get_delete_url }}" class="btn btn-danger"> Delete </a>
                    <a href="{{ object.get_absolute_url }}" class="btn btn-secondary"> Editar </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="detail-content">
            {% for attr in attrs %}
                <dl class="attrs-container">
                    <dt> {{ attr.label }} </dt>
                    <dd> 
                        <p>
                            {{ attr.value }} 
                        </p>
                    </dd>
                </dl>
            {% endfor %}
            </div>
            <hr>
            {% if object.vendaproduto_set.all %}
            <h5> Produtos </h5>
            {% endif %}
            <div class="detail-content">
                {% for instance in object.vendaproduto_set.all %}
                <dl class="attrs-container">
                    <dt> Referência </dt>
                    <dd> 
                        <p>
                            {{ instance.produto_fk }} 
                        </p>
                    </dd>
                </dl>
                <dl class="attrs-container">
                    <dt> Quantidade </dt>
                    <dd> 
                        <p>
                            {{ instance.quantidade }} 
                        </p>
                    </dd>
                </dl>
                <dl class="attrs-container">
                    <dt> Valor </dt>
                    <dd> 
                        <p>
                            {{ instance.valor }} R$ 
                        </p>
                    </dd>
                </dl>
            {% endfor %}
            </div>
        </div>
    </div>
      
      <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'finalizar_venda' object.id %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        {% bootstrap_form form_metodo_pagamento %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Finalizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function(){
            $("#finalizar").on("click", function(){
                $("#exampleModalCenter").modal("show")
            })

            $(".close, .modal-close").on("click", function(){
                $("#exampleModalCenter").modal("hide")
            })
        })
    </script>
{% endblock %}