{% extends "base.html" %}

{% block content %}
    <div class="card custom-card">
        <div class="card-header">
            <div class="card-toolbar">
                <h4 class="title"> Detalhes Produto </h4>
                <div class="buttons">
                    {% if not dont_delete %}
                    <a href="{{ object.get_delete_url }}" class="btn btn-danger">
                        Delete
                    </a>
                    {% endif %}
                    <a href="{{ object.get_absolute_url }}" class="btn btn-secondary">
                        Editar
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="detail-content">
            {% for attr in attrs %}
                <dl class="attrs-container">
                    <dt> {{ attr.label }} </dt>
                    <dd> 
                        <p>
                            {{ attr.value }} 
                        </p>
                    </dd>
                </dl>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}