{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="card custom-card">
        <form action="" method="post">
            <div class="card-header">
                {% for erro in errors %}
                    <p> {{ erro }} </p>
                {% endfor %}

                {% csrf_token %}
                {% bootstrap_form form %}
            </div>
            <div class="card-footer">
                <div class="button-toolbar">
                    <a class="btn btn-dark" href="{{ model.get_list_url }}">Voltar</a>
                    <button class="btn btn-success" type="submit">Salvar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

