{% extends "base.html" %}

{% block extra_css %}
    <style>
        .card-header-toolbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card custom-card">
        <div class="card-header">
            <div class="card-header-toolbar">
                <a class="btn btn-success" href="{% url 'create_produto' %}"> Novo Produto </a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Serial</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in objects %}
                        <tr>
                            <td> {{ obj.serial }} </td>
                            <td> {{ obj.marca }} </td>
                            <td> {{ obj.modelo }} </td>
                            <td> {{ obj.descricao }} </td>
                            <td>
                                <a href="{% url 'update_produto' id=obj.id %}"> Editar </a>
                                <a href="{% url 'detail_produto' id=obj.id %}"> Ver mais </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}



